config.cache
config.status
config.log
autom4te.cache
Makefile
tcpflow.spec
src/Makefile
src/conf.h
src/stamp-h
src/stamp-h.in
src/.deps
src/tcpflow
src/*.o
doc/Makefile
doc/tcpflow.1
**/*.rej
**/*.orig
**/*~